/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styling */
.navbar {
    background-color: #022527;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    z-index: 1000;
    right: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 40px;
    width: auto;
}

.logo span {
    font-size: 20px;
    font-weight: 600;
    color: #fffefe;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #fffdfd;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links li a:hover {
    color: #0077cc;
}

/* Main content styling */
main {
    padding: 20px;
}

.articles {
    max-width: 1200px;
    margin: 0 auto;
}

.articles h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

article p {
    font-size: 1rem;
    color: #666;
}

article a {
    display: inline-block;
    margin-top: 10px;
    color: #A3D55B;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

/* Footer styling */
footer {
    background: #022527dc;
    color: #fff;
    padding: 20px 0;
    margin-top: 0px;
    text-align: center;
}
.nav-links{
    margin-bottom: 5px;
}
main{margin-top: 55px;}